<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
</head>
<body>
    <h1>Upload File </h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label>Name</label><input name="name" type="text"/>
        <label>File</label><input name="file" type="file"/>
        <input type="submit" value="Upload"/>
    </form>
</body>
</html>